<header class="container py-3">
  <div class="row">
    <h1 class="col">
      <a routerLink="/">State Management with Akita</a>
    </h1>
    <p class="col text-right">
      <ng-container *ngIf="currentUser$ | async as currentUser">
        <ng-container *ngIf="currentUser.username">
          <span>Hello, {{currentUser.username}}</span><button class="ml-5" mat-flat-button color="primary" (click)="signOut()">Sign out</button>
        </ng-container>
        <a *ngIf="!currentUser.username" routerLink="signin">Sign In</a>
      </ng-container>
    </p>
  </div>
</header>
